// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #FFFFFF;
  background-color: #18191c;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

button {
  font-size: 14px;
}
