// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #FFFFFF;
  background-color: #18191c;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
  padding-top: 300px;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}

p {
  color: #737f8d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}

.app {
  font-size: 14px;
}
