.header-outer {
  padding: 8px 0;
  height: 72px;
}

.header-inner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1600px;
  padding: 0 30px;
}

.logo-box {
  margin-right: 12px;
  margin-top: 4px;
}

.logo-img {
  background-image: asset-url("ErisDisc.png");
  display: inline-block;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 0;
  width: 40px;
  padding-top: 40px;
  margin: 3 3 3 3;
}

.left-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  display: inline-flex;
  position: relative;
}

.nav-link {
  padding: 15px 10px 15px 10px;
  margin-right: 8px;
  opacity: .8
}

.dropbtn {
  display: block;
  position: relative;
  border: none;
  background-color: #18191C;
  color: white;
  opacity: .8
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 15px 10px 15px 10px;
  margin-right: 8px;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: 40px;
  min-width: 122px;
  overflow: hidden;
  background: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 2px 0;
  font-size: 13px;
  color: #9099A4;
  z-index: 1;
  visibility: hidden;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  transform: scale(1) translateY(0);
}

.dropdown-link {
  display: block;
  padding: 2px 4px;
  border-radius: 4px;
  text-decoration: none;
}

.dropdown-text {
  color: #9099A4;
  padding: 5px 10px;
}

.dropdown-link:hover {
  color: #18191C;
  background-color: #F2F2F2;
}


.right-nav-list {
}

.button-open {
  display: inline-block;
  opacity: .8;
  background-color: #18191C;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  padding: 5px 17px 7px;
  color: #FFFFFF;
  cursor: pointer;
}

.login-button:hover{
  opacity: 1;
}

.greeting {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 72px 50px 0;
  position: relative;
}

.greeting h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}

.greeting p {
  opacity: .6;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 30px;
  max-width: 710px;
}

.button-box {
  display: flex;
  justify-content: center;
}

.button-download {
  display: inline-block;
  height: 45px;
  width: 250px;
  color: #18191C;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: none;
  margin-right: 45px;
  cursor: pointer;
}

.button-demo {
  display: inline-block;
  height: 45px;
  width: 250px;
  color: #FFFFFF;
  background-color: #7289dA;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
