.header-outer {
  padding: 8px 0;
  height: 72px;
}

.header-inner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1600px;
  padding: 0 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.logo-box {
  margin-right: 12px;
  margin-top: 4px;
}

.logo {
  background-image: asset-url("ErisDisc.png");
  display: inline-block;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 0;
  width: 30px;
  padding-top: 30px;
  margin: 3 3 3 3;
}

.left-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  display: inline-flex;
  position: relative;
  margin-right: 8px;
  padding: 15px 10px 15px 10px;
  font-weight: 400;
}

.nav-link {
}

[class*="dropbtn-"] {
  display: block;
  position: relative;
  margin-right: 8px;
  padding: 15px 10px 15px 10px;
  border: none;
	border-radius: 20px;
  background-color: #18191c;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: 30px;
  min-width: 122px;
  overflow: hidden;
  background: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 2px 0;
  font-size: 13px;
  color: #9099a4;
  visibility: hidden;
}

.dropdown-link {
  display: block;
  padding: 2px 4px;
  border-radius: 4px;
  text-decoration: none;
}

.dropdown-text {
  color: #9099a4;
  padding: 5px 10px;
}

.dropdown-link:hover {
  color: #18191c;
  background-color: #F2F2F2;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}

.right-nav-list {
}

.button-login {
  display: inline-block;
  opacity: .8;
  background-color: #18191c;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  padding: 5px 17px 7px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}

.button-login:hover{
  opacity: 1;
}
